#Importing twitter data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Text Mining/Twitter/twitter.csv',encoding='latin-1')

In [3]:
df.tail()

         0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
1599994  4  ...  Just woke up. Having no school is the best fee...
1599995  4  ...  TheWDB.com - Very cool to hear old Walt interv...
1599996  4  ...  Are you ready for your MoJo Makeover? Ask me f...
1599997  4  ...  Happy 38th Birthday to my boo of alll time!!! ...
1599998  4  ...  happy #charitytuesday @theNSPCC @SparksCharity...

[5 rows x 6 columns]

***This data does not have heading so we add one***

In [4]:
df.columns = ['Rating','id','time','query','user','status']

In [5]:
df.head(10)

   Rating  ...                                             status
0       0  ...  is upset that he can't update his Facebook by ...
1       0  ...  @Kenichan I dived many times for the ball. Man...
2       0  ...    my whole body feels itchy and like its on fire
3       0  ...  @nationwideclass no, it's not behaving at all....
4       0  ...                      @Kwesidei not the whole crew
5       0  ...                                        Need a hug
6       0  ...  @LOLTrish hey  long time no see! Yes.. Rains a...
7       0  ...               @Tatiana_K nope they didn't have it
8       0  ...                          @twittera que me muera ?
9       0  ...        spring break in plain city... it's snowing

[10 rows x 6 columns]

In [6]:
df2 = df[["Rating",'status']]

In [7]:
df2.tail()

         Rating                                             status
1599994       4  Just woke up. Having no school is the best fee...
1599995       4  TheWDB.com - Very cool to hear old Walt interv...
1599996       4  Are you ready for your MoJo Makeover? Ask me f...
1599997       4  Happy 38th Birthday to my boo of alll time!!! ...
1599998       4  happy #charitytuesday @theNSPCC @SparksCharity...

In [8]:
df2.shape

(1599999, 2)

#Making Models

***Train and test data***

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(df2['status'],df['Rating'],random_state=0)

***Vectoring data***

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer().fit(X_train)

In [11]:
X_train_vectorized = vect.transform(X_train)

***Logistic Regression***

In [12]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()
model1.fit(X_train_vectorized,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
X_test.shape

(400000,)

***Accuracy score of model1***

In [14]:
from sklearn.metrics import roc_auc_score
predictions = model1.predict(vect.transform(X_test))
print('AUC: ',roc_auc_score(y_test,predictions))

AUC:  0.7963867652468991

***Testing model1 with text 'OK'***

In [15]:
print(model1.predict(vect.transform(['ok'])))

[4]

***Counting 0 in rating***

In [16]:
df3 = df2.apply(lambda x : True
            if x['Rating'] == 0 else False, axis = 1) 
  
# Count number of True in the series 
num_rows = len(df3[df3 == True].index) 
  
print('Number of Rows in dataframe in which Rating is 0 : ', 
      num_rows )

Number of Rows in dataframe in which Rating is 0 :  799999

***Counting 2 in rating***

In [17]:
df3 = df2.apply(lambda x : True
            if x['Rating'] == 2 else False, axis = 1) 
  
# Count number of True in the series 
num_rows = len(df3[df3 == True].index) 
  
print('Number of Rows in dataframe in which Rating is 2 : ', 
      num_rows )

Number of Rows in dataframe in which Rating is 2 :  0

***Counting 4 in rating***

In [18]:
df3 = df2.apply(lambda x : True
            if x['Rating'] == 4 else False, axis = 1) 
  
# Count number of True in the series 
num_rows = len(df3[df3 == True].index) 
  
print('Number of Rows in dataframe in which Rating is 4 : ', 
      num_rows )

Number of Rows in dataframe in which Rating is 4 :  800000

#using another model

In [19]:
#using only word of frequency 5
#using individual word, bigrams and trigrams
vect1 = CountVectorizer(min_df=5,ngram_range=(1,3)).fit(X_train)
X_train_vectorized1 = vect1.transform(X_train)
len(vect1.get_feature_names())

543998

In [20]:
model2 = LogisticRegression()
model2.fit(X_train_vectorized1,y_train)
predictions = model2.predict(vect1.transform(X_test))
print('AUC: ',roc_auc_score(y_test,predictions))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

AUC:  0.8186761432017127

In [21]:
print(model2.predict(vect1.transform(['good','Bad'])))

[4 0]

#Using Navie BAyes

In [22]:
from sklearn.naive_bayes import MultinomialNB

In [23]:
model3 = MultinomialNB(alpha=0.1)
model3.fit(X_train_vectorized1, y_train)

predictions = model3.predict(vect1.transform(X_test))
print('AUC: ',roc_auc_score(y_test,predictions))

AUC:  0.8023361329310513

In [24]:
print(model3.predict(vect1.transform(['aweful','awesome'])))

[0 4]

#Extracting data from twitter

In [25]:
!pip3 install twython

Requirement already satisfied: twython in /usr/local/lib/python3.6/dist-packages (3.8.2)
Requirement already satisfied: requests-oauthlib>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from twython) (1.3.0)
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from twython) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.4.0->twython) (3.1.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.1.0->twython) (2.10)

In [26]:
from twython import Twython

In [27]:
import csv

In [28]:
import csv
reader = csv.reader(open('/content/drive/MyDrive/Colab Notebooks/Text Mining/Twitter/key.csv', 'r'))
d = {}
for row in reader:
   k, v = row
   d[k] = v

In [29]:
twitter = Twython(d['C_KEY'],d['C_SECRET'],d['A_TOKEN'],d['A_SECRET'])

In [30]:
import pandas as pd

In [31]:
to_search = input('Enter search item: ')

Enter search item: #BetterCallSaul

In [32]:
df = pd.DataFrame(columns = ['Screen_name', 'Status','Model1','Model2','Model3']) 
screen_name = []
status = []
a = twitter.search(q=to_search,count=200)
b = a['statuses']
#print(type(b))
#print(len(b))
m = len(b) 
for i in range(m):
  #print(i)
  c = b[i]
  d = c['text']
  #print(c)
  #print(type(d))
  #print(d)
  e = c['user']
  f = e['screen_name']
  #print(type(f))
  #print(f)

  status.append(d)
  screen_name.append(f)
df['Screen_name'] = np.array(screen_name)
df['Status'] = np.array(status)

In [33]:
df.head()

       Screen_name  ... Model3
0       Freshtine_  ...    NaN
1       Freshtine_  ...    NaN
2  Bootleg_Guitars  ...    NaN
3        AuroraZeh  ...    NaN
4      keplerseven  ...    NaN

[5 rows x 5 columns]

In [34]:
length = df.shape[0]

In [35]:
length

100

#Prediction Using Model1

In [36]:
for i in range(length):
  status = df['Status'][i]
  Good_Bad = model1.predict(vect.transform([status])) 
  #print(Good_Bad)
  if(Good_Bad[0] == 4):
    df['Model1'][i] = 'Positive'
  else:
    df['Model1'][i] = 'Negative'

In [37]:
df.head()

       Screen_name  ... Model3
0       Freshtine_  ...    NaN
1       Freshtine_  ...    NaN
2  Bootleg_Guitars  ...    NaN
3        AuroraZeh  ...    NaN
4      keplerseven  ...    NaN

[5 rows x 5 columns]

#Prediction using Model2

In [38]:
for i in range(length):
  status = df['Status'][i]
  Good_Bad = model2.predict(vect1.transform([status])) 
  #print(Good_Bad)
  if(Good_Bad[0] == 4):
    df['Model2'][i] = 'Positive'
  else:
    df['Model2'][i] = 'Negative'

In [39]:
df.head()

       Screen_name  ... Model3
0       Freshtine_  ...    NaN
1       Freshtine_  ...    NaN
2  Bootleg_Guitars  ...    NaN
3        AuroraZeh  ...    NaN
4      keplerseven  ...    NaN

[5 rows x 5 columns]

#Prediction using model3

In [40]:
for i in range(length):
  status = df['Status'][i]
  Good_Bad = model3.predict(vect1.transform([status])) 
  #print(Good_Bad)
  if(Good_Bad[0] == 4):
    df['Model3'][i] = 'Positive'
  else:
    df['Model3'][i] = 'Negative'

In [41]:
df.tail(10)

        Screen_name  ...    Model3
90      engelstad_b  ...  Positive
91    beratckaratas  ...  Positive
92      Mahvashazar  ...  Positive
93        Vidasam12  ...  Positive
94        Vidasam12  ...  Positive
95     AyaMandalton  ...  Negative
96  mechehernandezh  ...  Positive
97    markyingling4  ...  Positive
98     classicsatan  ...  Positive
99          iSultxu  ...  Positive

[10 rows x 5 columns]