In [1]:
import pandas as pd
import numpy as np

In [2]:
df_order = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Text Mining/Restautant/order_data.csv')

In [3]:
df_order.head(10)

                 createdAt  ...                 pickedAt
0  2021-01-23 02:47:48.591  ...  2021-01-23 11:53:01.951
1  2021-01-23 10:14:44.008  ...  2021-01-23 11:02:28.023
2  2021-01-23 10:39:55.361  ...  2021-01-23 10:52:12.325
3  2021-01-23 11:16:31.605  ...  2021-01-23 11:28:04.077
4  2021-01-23 11:20:53.335  ...                      NaN
5  2021-01-23 11:24:54.356  ...  2021-01-23 11:56:38.594
6  2021-01-23 11:25:24.114  ...  2021-01-23 11:44:33.600
7  2021-01-23 11:29:22.800  ...  2021-01-23 11:58:42.472
8  2021-01-23 11:29:36.196  ...  2021-01-23 11:48:09.003
9  2021-01-23 11:38:31.498  ...  2021-01-23 11:54:09.159

[10 rows x 6 columns]

In [4]:
df_order.tail(20)

                   createdAt  ...                 pickedAt
980  2021-02-01 19:14:17.800  ...  2021-02-01 19:23:51.287
981  2021-02-01 19:15:14.170  ...  2021-02-01 19:40:11.775
982  2021-02-01 19:18:15.247  ...  2021-02-01 19:58:26.069
983  2021-02-01 19:21:48.995  ...  2021-02-01 20:05:53.723
984  2021-02-01 19:29:52.476  ...  2021-02-01 19:50:29.696
985  2021-02-01 19:38:05.145  ...  2021-02-01 19:55:56.392
986  2021-02-01 19:42:05.218  ...  2021-02-01 19:58:27.605
987  2021-02-01 19:42:56.312  ...  2021-02-01 20:10:13.999
988  2021-02-01 19:49:15.923  ...  2021-02-01 20:00:18.697
989  2021-02-01 19:55:31.120  ...  2021-02-01 20:07:23.598
990  2021-02-01 19:56:07.496  ...  2021-02-01 20:19:00.838
991  2021-02-01 19:58:39.734  ...                      NaN
992  2021-02-01 20:01:51.648  ...  2021-02-01 20:22:19.208
993  2021-02-01 20:06:58.485  ...  2021-02-01 20:41:09.769
994  2021-02-01 20:07:17.457  ...  2021-02-01 20:23:15.250
995  2021-02-01 20:29:04.022  ...  2021-02-01 20:46:30.010
996  2021-02-01 20:31:02.898  ...                      NaN
997  2021-02-01 20:36:39.308  ...  2021-02-01 21:03:54.041
998  2021-02-01 21:36:09.875  ...  2021-02-01 21:55:21.870
999  2021-02-01 21:52:37.882  ...                      NaN

[20 rows x 6 columns]

In [5]:
df_order.shape

(1000, 6)

In [6]:
df_restaurant = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Text Mining/Restautant/restaurantarea_data.csv')

In [7]:
df_restaurant.head()

                   restaurantName area
0  Red Pat - Craft Burgers & Beer   FR
1                  GoodFood Basel   DE
2           Pizza Princess Zürich   DE
3           Pizza Princess Genève   FR
4                 GoodFood Genève   FR

In [8]:
df_restaurant.shape

(15, 2)

#What are the most popular restaurants in number of orders ?

In [9]:
#name of restaurant
restaurant = df_order['restaurantName'].unique()

In [10]:
len(restaurant)

15

In [11]:
df_order['restaurantName'].value_counts()

GoodFood Basel                    139
GoodFood Basel 2                  137
GoodFood Genève                   124
Maria                             122
Red Pat - Craft Burgers & Beer    105
GoodFood Lausanne                 102
Maria - Rive Gauche                51
Pizza Princess Neuchâtel           43
Pizza Princess Basel               32
Pizza Princess Lausanne            30
Pizza Princess Genève              30
Pizza Princess SG                  27
Maria - Rive Droite                24
Pizza Princess Zürich              24
ByMÀ by Maria                      10
Name: restaurantName, dtype: int64

#At which time of the day do we have a peak in average ? ex : between 11:00 and 12:00 ? between 18:00 and 19:00 ?

In [12]:
time = df_order['createdAt']

In [13]:
hour = []
for times in time:
  hour.append(times[11:13])

In [14]:
len(hour)

1000

In [15]:
hour

['02',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '14',
 '14',
 '15',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '23',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '14',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '21',
 '21',
 '21',
 '21',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '14',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '22',
 '22',
 '10',
 '10',
 '10',
 '10',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '21',
 '22',
 '07',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '14',
 '14',
 '15',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '21',
 '09',
 '09',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '14',
 '14',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '21',
 '22',
 '22',
 '22',
 '22',
 '22',
 '22',
 '09',
 '10',
 '10',
 '10',
 '10',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '14',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '21',
 '22',
 '23',
 '10',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '15',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '21',
 '21',
 '22',
 '22',
 '22',
 '22',
 '22',
 '23',
 '08',
 '09',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '13',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '14',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '15',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21',
 '21',
 '21',
 '21',
 '21',
 '21',
 '22',
 '07',
 '10',
 '11',
 '11',
 '11',
 '11',
 '11',
 '11',
 '12',
 '12',
 '12',
 '12',
 '13',
 '13',
 '13',
 '14',
 '14',
 '15',
 '16',
 '16',
 '17',
 '17',
 '17',
 '17',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '18',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '19',
 '20',
 '20',
 '20',
 '20',
 '20',
 '20',
 '21',
 '21']

In [16]:
peak_hour = max(set(hour), key=hour.count)
print('The pear hour in average is: ',peak_hour)

The pear hour in average is:  18

In [17]:
import collections
counter=collections.Counter(hour)
print(counter)

Counter({'18': 196, '19': 191, '20': 106, '12': 86, '17': 83, '11': 62, '13': 60, '14': 49, '16': 43, '21': 42, '15': 32, '10': 23, '22': 16, '09': 4, '23': 3, '07': 2, '02': 1, '08': 1})

#For each restaurant compute the average waiting time for the driver : pickedAt - driverArrivedAtRestaurantAt

In [18]:
df_order.head()

                 createdAt  ...                 pickedAt
0  2021-01-23 02:47:48.591  ...  2021-01-23 11:53:01.951
1  2021-01-23 10:14:44.008  ...  2021-01-23 11:02:28.023
2  2021-01-23 10:39:55.361  ...  2021-01-23 10:52:12.325
3  2021-01-23 11:16:31.605  ...  2021-01-23 11:28:04.077
4  2021-01-23 11:20:53.335  ...                      NaN

[5 rows x 6 columns]

In [19]:
df_order = df_order.dropna()

In [20]:
df_order.head()

                 createdAt  ...                 pickedAt
0  2021-01-23 02:47:48.591  ...  2021-01-23 11:53:01.951
1  2021-01-23 10:14:44.008  ...  2021-01-23 11:02:28.023
2  2021-01-23 10:39:55.361  ...  2021-01-23 10:52:12.325
3  2021-01-23 11:16:31.605  ...  2021-01-23 11:28:04.077
5  2021-01-23 11:24:54.356  ...  2021-01-23 11:56:38.594

[5 rows x 6 columns]

In [21]:
driver_hour = []
for time in df_order['driverArrivedAtRestaurantAt']:
  driver_hour.append(time[11:13])

In [22]:
driver_minutes = []
for time in df_order['driverArrivedAtRestaurantAt']:
  driver_minutes.append(time[14:16])

In [23]:
len(driver_hour)

826

In [24]:
len(driver_minutes)

826

In [25]:
driver_time = []
for i in range(826):
  time_min = int(driver_hour[i])*60 + int(driver_minutes[i])
  driver_time.append(time_min)

In [26]:
driver_time[0]

687

In [27]:
picked_hour = []
picked_minutes = []
for time in df_order['pickedAt']:
  picked_hour.append(time[11:13])
  picked_minutes.append(time[14:16])

In [28]:
print(picked_hour[0])
picked_minutes[0]

11

'53'

In [29]:
print(len(picked_hour))
print(len(picked_minutes))

826
826

In [30]:
picked_time = []
for i in range(826):
  time_min = int(picked_hour[i])*60 + int(picked_minutes[i])
  picked_time.append(time_min)

In [31]:
picked_time[0]

713

In [32]:
waiting_time = []
for i in range(826):
  waiting_time.append(picked_time[i]-driver_time[i])

In [33]:
waiting_time[0]

26

In [34]:
df_order['Waiting_time'] = waiting_time

In [35]:
df_order.head()

                 createdAt    status  ...                 pickedAt Waiting_time
0  2021-01-23 02:47:48.591  complete  ...  2021-01-23 11:53:01.951           26
1  2021-01-23 10:14:44.008  complete  ...  2021-01-23 11:02:28.023           17
2  2021-01-23 10:39:55.361  complete  ...  2021-01-23 10:52:12.325            1
3  2021-01-23 11:16:31.605  complete  ...  2021-01-23 11:28:04.077           11
5  2021-01-23 11:24:54.356  complete  ...  2021-01-23 11:56:38.594            3

[5 rows x 7 columns]

In [36]:
df2 = df_order[["restaurantName","Waiting_time"]]

In [37]:
df2.head()

                   restaurantName  Waiting_time
0  Red Pat - Craft Burgers & Beer            26
1                  GoodFood Basel            17
2           Pizza Princess Zürich             1
3           Pizza Princess Genève            11
5                 GoodFood Genève             3

In [38]:
df3 = df2.groupby('restaurantName').mean()

In [39]:
print('Waiting time for each restaurant in minutes: \n ',df3)

Waiting time for each restaurant in minutes:
                                  Waiting_time
restaurantName
ByMÀ by Maria                       5.888889
GoodFood Basel                      7.135135
GoodFood Basel 2                    6.743119
GoodFood Genève                     6.526882
GoodFood Lausanne                   6.869048
Maria                               5.888889
Maria - Rive Droite                 9.650000
Maria - Rive Gauche                13.727273
Pizza Princess Basel                5.214286
Pizza Princess Genève               5.923077
Pizza Princess Lausanne             6.884615
Pizza Princess Neuchâtel            4.722222
Pizza Princess SG                   5.700000
Pizza Princess Zürich               4.368421
Red Pat - Craft Burgers & Beer      5.430108

#If the waiting time is to high (> 6min), add a warning flag to the restaurant

In [40]:
df3['Warning'] = np.where(df3['Waiting_time']>6, True, False)

In [41]:
df3

                                Waiting_time  Warning
restaurantName
ByMÀ by Maria                       5.888889    False
GoodFood Basel                      7.135135     True
GoodFood Basel 2                    6.743119     True
GoodFood Genève                     6.526882     True
GoodFood Lausanne                   6.869048     True
Maria                               5.888889    False
Maria - Rive Droite                 9.650000     True
Maria - Rive Gauche                13.727273     True
Pizza Princess Basel                5.214286    False
Pizza Princess Genève               5.923077    False
Pizza Princess Lausanne             6.884615     True
Pizza Princess Neuchâtel            4.722222    False
Pizza Princess SG                   5.700000    False
Pizza Princess Zürich               4.368421    False
Red Pat - Craft Burgers & Beer      5.430108    False

#Make a join with the restaurant's area data and compute the waiting time per area

In [42]:
len(df3)

15

In [43]:
len(df_restaurant)

15

In [44]:
df_restaurant.head()

                   restaurantName area
0  Red Pat - Craft Burgers & Beer   FR
1                  GoodFood Basel   DE
2           Pizza Princess Zürich   DE
3           Pizza Princess Genève   FR
4                 GoodFood Genève   FR

In [45]:
df_restaurant = df_restaurant.sort_values('restaurantName')

In [46]:
df_restaurant.head()

       restaurantName area
12      ByMÀ by Maria   FR
1      GoodFood Basel   DE
7    GoodFood Basel 2   DE
4     GoodFood Genève   FR
5   GoodFood Lausanne   FR

In [47]:
df3 = df3.reset_index()

In [48]:
df3

                    restaurantName  Waiting_time  Warning
0                    ByMÀ by Maria      5.888889    False
1                   GoodFood Basel      7.135135     True
2                 GoodFood Basel 2      6.743119     True
3                  GoodFood Genève      6.526882     True
4                GoodFood Lausanne      6.869048     True
5                            Maria      5.888889    False
6              Maria - Rive Droite      9.650000     True
7              Maria - Rive Gauche     13.727273     True
8             Pizza Princess Basel      5.214286    False
9            Pizza Princess Genève      5.923077    False
10         Pizza Princess Lausanne      6.884615     True
11        Pizza Princess Neuchâtel      4.722222    False
12               Pizza Princess SG      5.700000    False
13           Pizza Princess Zürich      4.368421    False
14  Red Pat - Craft Burgers & Beer      5.430108    False

In [49]:
result = pd.merge(df3, df_restaurant, on="restaurantName")

In [50]:
result

                    restaurantName  Waiting_time  Warning area
0                    ByMÀ by Maria      5.888889    False   FR
1                   GoodFood Basel      7.135135     True   DE
2                 GoodFood Basel 2      6.743119     True   DE
3                  GoodFood Genève      6.526882     True   FR
4                GoodFood Lausanne      6.869048     True   FR
5                            Maria      5.888889    False   FR
6              Maria - Rive Droite      9.650000     True   FR
7              Maria - Rive Gauche     13.727273     True   FR
8             Pizza Princess Basel      5.214286    False   DE
9            Pizza Princess Genève      5.923077    False   FR
10         Pizza Princess Lausanne      6.884615     True   FR
11        Pizza Princess Neuchâtel      4.722222    False   FR
12               Pizza Princess SG      5.700000    False   DE
13           Pizza Princess Zürich      4.368421    False   DE
14  Red Pat - Craft Burgers & Beer      5.430108    False   FR

In [51]:
final_db = result[["area","Waiting_time"]]

In [52]:
df5 = result.groupby('area').mean()

In [53]:
df5

      Waiting_time  Warning
area
DE        5.832192      0.4
FR        7.151100      0.5

In [54]:
final_db = df5[["Waiting_time"]]

In [55]:
print("Average waiting time by area: ",final_db)

Average waiting time by area:        Waiting_time
area
DE        5.832192
FR        7.151100